---
// contact.astro
import MainLayout from '../layouts/MainLayout.astro';
---
<MainLayout title="Contact">
    <h1>Contact Adarsh Kumar</h1>
    <p>You can contact me through this page.</p>
</MainLayout>